<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Daz Pizzeria</title>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">

    </head>
    <body>

        <!-- Navigation Bar -->
        <div class="">
            <nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: #5a786c;">
                    <a class="navbar-brand" href="{% url 'homepage' %}"><button class="btn btn-warning">Daz-P</button> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'orders:menu' %}">Menu<span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'orders:placeorder' %}">Place Order</a></li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="#">{{user.username|capfirst}}</a></li>
                            <li><a class="nav-item nav-link" href="{% url 'account:logout' %}">Log out</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account:signup' %}">Register</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{%  url 'orders:cart'%}">Cart<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
            </nav>
        </div>


        <!-- Extended page content -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
